In [81]:
from bs4 import BeautifulSoup as bs4
import requests
import collections
collections.Callable = collections.abc.Callable
import pandas as pd

### Load the webpage

In [82]:
url = "https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue"
page = requests.get(url)
# Convert to a bs4 object
soup = bs4(page.text, 'html')

In [83]:
table = soup.find_all('table')[1]

In [84]:

world_title = soup.find_all('th')
world_table_title = [title.text.strip() for title in world_title][:7]
print(world_table_title)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [85]:
df = pd.DataFrame(columns=world_table_title)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [86]:
column_data = table.find_all('tr')

In [87]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]   
    lenght = len(df)
    df.loc[lenght] = individual_row_data

In [88]:
df.tail(5)

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
95,96,Best Buy,Retail,"46,298",10.6%,"71,100","Richfield, Minnesota"
96,97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.5%,"34,300","New York City, New York"
97,98,United Airlines,Airline,"44,955",82.5%,"92,795","Chicago, Illinois"
98,99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.5%,"130,000","Waltham, Massachusetts"
99,100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"

In [89]:
df.to_csv(r'./elenco_aziende_americane.csv', index=False)